<h1>Report card</h1>


<h2>1.How many in MS/MEng program right now?</h2>

<font size = "4">PhD</font>
<table frame="box">
  <tr>
    <td class="box3_t" align="center" valign="top">
      <font size="3">PB PhD EE</font>
      <table border="1">
        <thead>
          <tr>
            <td align="center">UID</td>
            <td align="center">Last Name</td>
            <td align="center">First Name</td>
            <td align="center">International</td>
            <td align="center">Start date</td>
          </tr>
        </thead>

        <tbody>
          <% @pbphdees.each do |pbphdee| %>
            <tr>
              <td align="center"><%= pbphdee.UID %></td>
              <td align="center"><%= pbphdee.last_name %></td>
              <td align="center"><%= pbphdee.first_name %></td>
              <td align="center"><%= pbphdee.international %></td>
              <td align="center"><%= pbphdee.start_date %></td>
              <% @pb_phd_ee_count = @pb_phd_ee_count+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <font size="3">Total number : <%= @pb_phd_ee_count %></font>
    </td>

    <td class="box3_t" align="center"  valign="top">
      <font size="3">PM PhD EE</font>
      <table border="1">
        <thead>
          <tr>
            <td align="center">UID</td>
            <td align="center">Last Name</td>
            <td align="center">First Name</td>
            <td align="center">International</td>
            <td align="center">Start date</td>
          </tr>
        </thead>

        <tbody>
          <% @pmphdees.each do |pmphdee| %>
            <tr>
              <td align="center"><%= pmphdee.UID %></td>
              <td align="center"><%= pmphdee.last_name %></td>
              <td align="center"><%= pmphdee.first_name %></td>
              <td align="center"><%= pmphdee.international %></td>
              <td align="center"><%= pmphdee.start_date %></td>
              <% @pm_phd_ee_count = @pm_phd_ee_count+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
            <font size="3">Total number : <%= @pm_phd_ee_count %> </font>
    </td>

    <td class="box3_t" align="center"  valign="top">
      <font size="3">PB PhD CE</font>
      <table border="1">
        <thead>
          <tr>
            <td align="center">UID</td>
            <td align="center">Last Name</td>
            <td align="center">First Name</td>
            <td align="center">International</td>
            <td align="center">Start date</td>
          </tr>
        </thead>

        <tbody>
          <% @pbphdces.each do |pbphdce| %>
            <tr>
              <td align="center"><%= pbphdce.UID %></td>
              <td align="center"><%= pbphdce.last_name %></td>
              <td align="center"><%= pbphdce.first_name %></td>
              <td align="center"><%= pbphdce.international %></td>
              <td align="center"><%= pbphdce.start_date %></td>
              <% @pb_phd_ce_count = @pb_phd_ce_count+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <font size="3">Total number : <%= @pb_phd_ce_count %> </font>
    </td>
    <td class="box3_t" align="center"  valign="top">
      <font size="3">PM PhD CE</font>
      <table border="1">
        <thead>
          <tr>
            <td align="center">UID</td>
            <td align="center">Last Name</td>
            <td align="center">First Name</td>
            <td align="center">International</td>
            <td align="center">Start date</td>
          </tr>
        </thead>

        <tbody>
          <% @pmphdces.each do |pmphdce| %>
            <tr>
              <td align="center"><%= pmphdce.UID %></td>
              <td align="center"><%= pmphdce.last_name %></td>
              <td align="center"><%= pmphdce.first_name %></td>
              <td align="center"><%= pmphdce.international %></td>
              <td align="center"><%= pmphdce.start_date %></td>
              <% @pm_phd_ce_count = @pm_phd_ce_count+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
            <font size="3">Total number : <%= @pm_phd_ce_count %> </font>
    </td>
  </tr>
</table>
</br>
  <font size="4">Total number of PhD students: <%= @phd_count = @pb_phd_ee_count+@pm_phd_ee_count+@pb_phd_ce_count+@pm_phd_ce_count%> </font></br></br></br>
<font size= "4">Master</font>

<h2>2.How many are graduating this semester and who?<h2>

<h2>3.How many are graduating next semester and who?<h2>

<h2>4.How many are graduating next next semester and who?<h2>

<h2>5.How many enrolled in EC901 and EC902?<h2>



